<h2 class="text-xl mb-3"> Dramatic Question </h2>


Will a group of graduate students complete a quest to understand their history and make an informed decision about continuing to live in their previously invisible utopia?