build
node_modules/

.vs**
.idea**

# IDE specific config
**/.vs*/
**/.idea/

# Secrets
*.env**

# build artifacts
build
node_modules
.npm
.vite.config.js.timestamp*

## build artifacts from other branches
.svelte-kit
.svelte*
.astro


# scratch files and directories
scratch*
**scratch**
scratch*.*
**/scratch**
**/scratch/**
**/scratch/**.*
**scratch.*
**/*scratch/*.*
**old**

# amplify
.amplify
amplify_outputs*
amplifyconfiguration*
