<script>
  import Post1 from './post1.svx';
  import Post2 from './post2.svx';
  import Post3 from './post3.svelte';
  import Post4 from './post4.svelte';

  import BaseLayout from '$lib/components/BaseLayout.svelte';
</script>

<BaseLayout colStart={2} colEnd={4} rowStart={1}>
    <Post4 />
    <Post3 />
    <Post2 />
    <Post1 />
</BaseLayout>
