@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @layer base {
    ul, ol {
        display: block;
        list-style-type: disc;
        margin-block-start: 1rem;
        margin-block-end: 1rem;
        padding-inline-start: 40px;
    }
    ol {
        list-style-type: decimal;
    }
    li {
        display: list-item;
        text-align: match-parent;
    }
    ::marker {
        unicode-bidi: isolate;
        font-variant-numeric: tabular-nums;
        text-transform: none;
    }
} */
