<div class="row">
  <div class="col-s-12 col-m-12 navbar">
    <ul>
      <li class="active col-s-12 col-m-2 col-l-2 col-xl-2">
        <a href="index.html">Brave Grumpy Homepage</a>
      </li>
      <li class="col-s-12 col-m-2 col-l-2 col-xl-2">
        <a href="writing.html">Huetopia Homepage</a>
      </li>
      <!--li>
                <a href="#">Art Portfolio</a>
            </li-->
      <li class="col-s-12 col-m-2 col-l-2 col-xl-2">
        <a href="link-repository.html">Helpful Link Repository</a>
      </li>
      <li class="col-s-12 col-m-2 col-l-2 col-xl-2">
        <a href="archive/index.html">Old, Experimental homepage</a>
      </li>
    </ul>
  </div>
</div>
